body{
	background-image : linear-gradient(to right top, #986fa6, #ab83bc, #bd97d2, #d1ace8, #e4c1ff);
	font-family: 'Poppins', sans-serif;
	height: 100%;
	background-size: cover;
	background-repeat: none;
	width: 100%;

}

header{
	text-align: center;
}

.title-header{
	font-size: 2em;

}

.main{
	text-align: center;
	padding: 10px 20px;
}

#emoji-input, #name-input{
	height: 35px;
	width: 230px;
	border: none;
	border-radius: 15px;
	margin-bottom: 15px;
	text-align: center;
	margin-top: 15px;
}

#emoji-input:focus, #name-input:focus{
	outline: none;
}

.notice-text{
	font-size: 0.8em;
}

button{
	padding: 15px 25px;
	font-weight: 700;
	border-radius: 10px;
	text-transform: uppercase;
	margin-left: 10px;
	margin-top: 20px;
}

button:focus{
	outline: none;
}

.add-buttons{
	padding: 0px 10px;
	margin-bottom:5px;
}

.remove-buttons{
	padding: 0px 10px;
	margin-top:0px;
}

.add{
	background-image: linear-gradient(to right top, #1cbc4d, #18bc56, #16bc5e, #16bb66, #18bb6d);
	color: white;
	border: none;
}

.remove{
	background-image: linear-gradient(to right top, #c92e3b, #ce2d3e, #d22b41, #d72944, #dc2747);
	color: white;
	border: none;
}

.footer{
	/*position: fixed;
	bottom: 0;*/
	text-align: center;
	color: white;
}

.footer-text{
	text-align: center;
}

.emoji-span{
	font-size: 3em;
	padding: 0px 20px;
}

#user-name{
	text-decoration: underline;
	color: #d62a44;
}

#enter-name{
	margin: 0px 30px;
}

.letter-ess{
	color:#d62a44;
	text-decoration: underline;
}

.error-message{
	color: red;
	display: none;
	font-size:0.7em;
	margin:0px 0px 10px 0px;
}